[submodule "sm/ONL"]
	path = sm/ONL
	url = https://github.com/microsonic/OpenNetworkLinux.git
[submodule "sm/sonic-buildimage"]
	path = sm/sonic-buildimage
	url = https://github.com/microsonic/sonic-buildimage.git
