[submodule "sm/ONL"]
	path = sm/ONL
	url = git@github.com:carlroth/OpenNetworkLinux
	branch = X1
[submodule "sm/sonic-buildimage"]
	path = sm/sonic-buildimage
	url = https://github.com/ishidawataru/sonic-buildimage.git
