[submodule "sm/ONL"]
	path = sm/ONL
	url = http://github.com/jnealtowns/OpenNetworkLinux
[submodule "sm/sonic-buildimage"]
	path = sm/sonic-buildimage
	url = https://github.com/ishidawataru/sonic-buildimage.git
