[Unit]
Description=ONL boot
DefaultDependencies=no
Before=networking.service

[Service]
RemainAfterExit=yes
ExecStart=/etc/boot.d/boot

[Install]
WantedBy=sysinit.target
